# Control Flow in Python
is the order at which python execute the statement or syntax

### 1. Conditional Statement
    a. if
    b. elif
    c. else
    
###  2. Loop Statement
     a. for
     b. while
     
     
 ### 3. Loop Control Statement
      a break
      b. continue
  
### 4. Error Handling Statement
     a. try
     b. except
     c. finally

In [3]:
# if 
a = 10
if a > 5:
    print("we are good to go!")

we are good to go!

In [4]:
# if 
a = 10
if a < 5:
    print("we are good to go!")

In [5]:
# if and else statement

b = 15

if b > 15:
    print("we may need to wait!")
else:
    print("we are good to go!")

we are good to go!

In [6]:
a = 10
b = 20

if (a>15) and (b==20):
    print("we need people to talk")
    
elif (a==10) and (b>15):
    print("Ade is a man")
    
elif (a>=10) and (b==20):
    print("we are the people")
else:
    print("non of the above condition is met!")

Ade is a man

# Nested if

In [14]:
age = int( input("please enter your age "))
if age>= 18:
    pvc = input("do you have a pvc ").lower()
    if pvc == "yes":
        lga= input("what is your polling units ").lower()
        if lga=="olowoira":
            print("vote for Mr A")
        else:
            print("you can vote for any person you wish")
    else:
        print("go the Mr James to collect your pvc, and come back to vote")
else:
    print("come back when you are 18")

please enter your age 77
do you have a pvc yes
what is your polling units OLoWoiRA
vote for Mr A

In [16]:
# for loop
ages = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,171,18,19,20] 

for age in ages:
    print(age)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
171
18
19
20

In [17]:
a = 5
for i in a:
    print(i)

TypeError: 'int' object is not iterable

range(index  :position:step)

In [22]:
for i in range(0, 22, 2): # iterable element
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [23]:
# seperate the odd ages and the even ages from the list of ages below
ages = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,171,18,19,20] 
odd_ages = []
even_ages = []
for age in ages:
    if age%2==0:
        even_ages.append(age)
    else:
        odd_ages.append(age)

In [25]:
print(odd_ages)

[1, 3, 5, 7, 9, 11, 13, 15, 171, 19]

In [26]:
print(even_ages)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
# while
a= 0
while a<=5:
    print("python is fun to learn {}".format(a))
    a+=1

python is fun to learn 0
python is fun to learn 1
python is fun to learn 2
python is fun to learn 3
python is fun to learn 4
python is fun to learn 5

In [39]:
# write a python programm to allow 11 people to vote for two candidates then count result of the vote
# and declear the winner

cast = 1
A = []
B = []
void = []
while cast<=11:
    vote = input("input A to vote for Mr A, or B to vote for Mr B ").upper()
    if vote== "A":
        A.append(vote)
    elif vote == "B":
        B.append(vote)
    else:
        void.append(vote)
    cast+=1
    
if len(A)> len(B):
    print("Mr A is the winner with {} total count of vote".format(len(A)))
elif len(B) > len(A):
    print("Mr B is the winner with {} total count of vote".format(len(B)))
else:
    print("we have vote again , because total count void is {} more count of Mr A and B".format(len(void)))

input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B x
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B x
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B c
input A to vote for Mr A, or B to vote for Mr B b
input A to vote for Mr A, or B to vote for Mr B b
input A to vote for Mr A, or B to vote for Mr B b
Mr A is the winner with 5 total count of vote

In [32]:
print(A)

['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A']

In [33]:
print(B)

[]

In [40]:
print(void)

['X', 'X', 'C']

In [42]:
# write a python programm to allow 11 people to vote for two candidates then count result of the vote
# and declear the winner

cast = 1
A = []
B = []
void = []
while cast<=11:
    vote = input("input A to vote for Mr A, or B to vote for Mr B ").upper()
    if vote== "A":
        A.append(vote)
    elif vote == "B":
        B.append(vote)
    else:
        void.append(vote)
    cast+=1
print("\n")    
print("Mr A has {} total vote".format(len(A)))
print("Mr B has {} total vote".format(len(B)))
print("The total void is {}".format(len(void)))

input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a


Mr A has 11 total vote
Mr B has 0 total vote
The total void is 0

In [44]:
# while true
a=0
while True:
    print("python {}".format(a))
    if a==5:
        break
    a+=1

python 0
python 1
python 2
python 3
python 4
python 5

# Loop Control in Python
    1. break 
    2. continue

In [9]:
# seperate the odd ages and the even ages from the list of ages below
ages = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,171,18,19,20] 
odd_ages = []
even_ages = []
for age in ages:
    if age%2==0:
        even_ages.append(age)
    else:
        odd_ages.append(age)

In [10]:
print(odd_ages)

[1, 3, 5, 7, 9, 11, 13, 15, 171, 19]

In [11]:
print(even_ages)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
ages = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] 
odd_ages =[]
even_ages = []
for age in ages:
    if age%2 == 0:
        even_ages.append(age)
    else:
        odd_ages.append(age)
    if age==14:
        break

In [14]:
print(odd_ages)

[1, 3, 5, 7, 9, 11, 13]

In [15]:
print(even_ages)

[2, 4, 6, 8, 10, 12, 14]

In [19]:
v=  30
while True:
    print("while true will always to true {}".format(v))
    v-=1
    if v==20:
        break

while true will always to true 30
while true will always to true 29
while true will always to true 28
while true will always to true 27
while true will always to true 26
while true will always to true 25
while true will always to true 24
while true will always to true 23
while true will always to true 22
while true will always to true 21

In [20]:
ages = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] 
even_ages=[]
odd_ages= []
for age in ages:
    if age==14:
        continue
    if age%2==0:
        even_ages.append(age)
    else:
        odd_ages.append(age)

In [21]:
print(odd_ages)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [22]:
print(even_ages)

[2, 4, 6, 8, 10, 12, 16, 18, 20]

In [28]:
# write a python code to collect list of values from a user untill the user enter 'done' then find the
# sum of the values 
all_number = []
while True:
    number = input("enter the next number or done to exit ").lower()
    if number=="done":
        break
    number = int(number)
    all_number.append(number)

sum_all_number = sum(all_number)
print("the sum of all number entered is {}".format(sum_all_number))

enter the next number or done to exit 4
enter the next number or done to exit 7
enter the next number or done to exit 1
enter the next number or done to exit 9
enter the next number or done to exit done
the sum of all number entered is 21

In [34]:
# write a python code to collect list of values from a user untill the user enter 'done' then find the
# sum of the values. hint. 
all_number = []
cannot_sum = []
while True:
    number = input("enter the next number or done to exit ").lower()
    if number=="done":
        break
    number = int(number)
    if number>9.9:
        cannot_sum.append(number)
        continue
    all_number.append(number)

sum_all_number = sum(all_number)
print("the sum of all number entered is {}".format(sum_all_number))
print(f   e list of number that the system can not sum is {cannot_sum}")

enter the next number or done to exit 2
enter the next number or done to exit 67
enter the next number or done to exit 12
enter the next number or done to exit 4
enter the next number or done to exit done
the sum of all number entered is 6
the list of number that the system can not sum is [67, 12]

# Error Handling in Python
- try
- except 
- finally

In [ ]:
jjj


5555








q

In [36]:
2/0

ZeroDivisionError: division by zero

In [38]:
try:
    n1 = int(input("enter the first number    "))
    n2 = int(input("enter the second number   "))
    division = n1/n2
    print(f"the division of the two numbers entered is {division}")
except:
    print("the second can not be zero")
finally:
    print("\n thanks for checking")

enter the first number    2
enter the second number   0
the second can not be zero

 thanks for checking

#  Function in Python
Function in python is a group of statement defined under a specific name to perform a specific task.
the purpose of writing function in python is to avoid repeatation
    1. predefined function (max, sum, len)
    2. user defined function

In [ ]:
# 1. function creation
# 2. calling of function

In [41]:
def greet( ): # non parameter function
    print("You are Welcome")

In [42]:
# calling the function greet
greet()

You are Welcome

In [43]:
# define a function that can add any two number

def add_two_number(a, s):
    sum_ = a + s
    return sum_

In [44]:
add_two_number(10, 75)

85

In [46]:
def y():
    all_number = []
    cannot_sum = []
    while True:
        number = input("enter the next number or done to exit ").lower()
        if number=="done":
            break
        number = int(number)
        if number>9.9:
            cannot_sum.append(number)
            continue
        all_number.append(number)

    sum_all_number = sum(all_number)
    print("the sum of all number entered is {}".format(sum_all_number))
    print(f" the list of number that the system can not sum is {cannot_sum}")

In [47]:
y()

enter the next number or done to exit 5
enter the next number or done to exit 7
enter the next number or done to exit 12
enter the next number or done to exit 67
enter the next number or done to exit done
the sum of all number entered is 12
 the list of number that the system can not sum is [12, 67]

# Anonymous Function

In [48]:
add_three_number = lambda x, y, z :  x + y + z

In [49]:
add_three_number(2,99,1)

102

In [50]:
second = lambda min: 60 * min

In [51]:
second(6)

360

In [40]:
5 +10

15

In [2]:
import numpy as np
duration=[1,3,4,5,7,2,9,7,3,7,4,3,2,5,6,8,1,3]
np.median(duration)

4.0

In [3]:
import statistics as st
st.mode(duration)

3

In [4]:
population_age= [13,4,50,71,51,60,34,54,34,25,24,60,31,37,79,36,62,24,19,81,27,29,26,27,35,41,50,62,70,24,26,25,42,47,41,
                 28,25,37,31,39,3,32,45,32,37,31,27,35,27,31,30,42,46,12,25,27,12,15,70,17,18,26,15,42,16,18,29,25,27,
                 30,37,36,48,42,41,12,21,33,22,44,55,11,6,23,7,3,16,34,12,34, 12,31,45,65,24,31,18,64,7,10]


import statistics as st
import numpy as np

ranges=np.ptp(population_age)
print("the statistical range of the population age is ", ranges)

the statistical range of the population age is  78

In [ ]:
class Car:
    def __init__(self):
        self.speed = 0  # Initialize the speed attribute to 0 km/hr

    def start(self):
        print("Car started")
        self.speed = 10  # You can set the initial speed to some value when the car starts

    def stop(self):
        print("Car stopped")
        self.speed = 0

    def check_speed(self):
        if self.speed <= 80:
            print(f"Current speed: {self.speed} km/hr (Safe)")
        else:
            print(f"Current speed: {self.speed} km/hr (Exceeding 80 km/hr - Please slow down)")

# Create an instance of the Car class
my_car = Car()

# Start the car
my_car.start()

# Check the speed
my_car.check_speed()

# Accelerate the car (for demonstration purposes)
my_car.speed = 90

# Check the speed again
my_car.check_speed()

# Stop the car
my_car.stop()

In [ ]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.speed = 0

    def start(self):
        print(f"{self.year} {self.make} {self.model} started")
        self.speed = 10

    def stop(self):
        print(f"{self.year} {self.make} {self.model} stopped")
        self.speed = 0

    def accelerate(self, amount):
        self.speed += amount

    def brake(self, amount):
        self.speed -= amount

    def check_speed(self):
        print(f"Current speed: {self.speed} km/hr")

class ElectricCar(Car):
    def __init__(self, make, model, year, battery_capacity):
        super().__init__(make, model, year)
        self.battery_capacity = battery_capacity
        self.charge_level = 100

    def charge(self, amount):
        self.charge_level += amount
        if self.charge_level > 100:
            self.charge_level = 100

    def discharge(self, amount):
        self.charge_level -= amount
        if self.charge_level < 0:
            self.charge_level = 0

    def check_charge(self):
        print(f"Battery charge level: {self.charge_level}%")

# Create an instance of the Car class
my_car = Car("Toyota", "Camry", 2023)

# Start the car
my_car.start()
my_car.accelerate(30)
my_car.check_speed()

# Create an instance of the ElectricCar class
my_electric_car = ElectricCar("Tesla", "Model S", 2023, battery_capacity=75)

# Start the electric car
my_electric_car.start()
my_electric_car.accelerate(40)
my_electric_car.check_speed()

# Charge the electric car
my_electric_car.charge(20)
my_electric_car.check_charge()

In [43]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [ ]:
cat_var = [x for x in df[x] if df[x].dtype=="object"] 
num_var = [x for x in df[x] if df[x].dtype in ["int", "float"]]

num_transfomer = Pipeline([

    ("imputer", SimpleImputer(strategy="mean")), ("scaler", StandardScaler())
])



cat_transfomer = Pipeline([

    ("imputer", SimpleImputer(strategy="most_frequent")), ("scaler", OneHotEncoder())
])

In [ ]:
processor = ColumnTransformer([
    
    ("v", cat_transfomer,  cat_var)
])

In [32]:
class car:
    def  __init__ (self, maker, model, year):
        self.maker = maker
        self.model = model
        self.year = year
        self.speed= 0
    
    def start(self):
        if self.speed>0:
            print("already started")
        else:
            print(f"{self.maker} {self.model} {self.year} started")
            self.speed=10
        
    def accelerate(self, amount):
        self.speed+=amount
        
    def brake(self, amount):
        self.speed-=amount
        
    def check_speed(self):
        print(f"current speed is {self.speed} km/hr")
        
    def stop(self):
        print(f"{self.maker} {self.model} {self.year} stopped")
        self.speed=0

In [33]:
first_car = car("Toyota", "cla", 2000)

In [34]:
first_car.start()

Toyota cla 2000 started

In [35]:
first_car.accelerate(19)

In [36]:
first_car.check_speed()

current speed is 29 km/hr

In [37]:
first_car.brake(2)

In [38]:
first_car.check_speed()

current speed is 27 km/hr

In [39]:
first_car.stop()

Toyota cla 2000 stopped

In [44]:
n = int(input())
for i in range(1,11):
    y = n * i
    print(f"{i} * {n} is {y}" )

2
1 * 2 is 2
2 * 2 is 4
3 * 2 is 6
4 * 2 is 8
5 * 2 is 10
6 * 2 is 12
7 * 2 is 14
8 * 2 is 16
9 * 2 is 18
10 * 2 is 20

In [4]:
def generate_multiplication_table(n):
    print(f"Multiplication table for {n}:")
    for i in range(1, 11):  # Loop from 1 to 10 to generate the first 10 multiples
        result = n * i
        print(f"{n} x {i} = {result}")

# Get the number from the user
try:
    n = int(input("Enter a number: "))
    generate_multiplication_table(n)
except ValueError:
    print("Please enter a valid number.")

Enter a number: 5
Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [6]:
def count_vowels(word):
    # Define a list of vowels
    vowels = "aeiouAEIOU"
    
    # Initialize a count to zero
    vowel_count = 0

    # Iterate over each character in the word
    for char in word:
        if char in vowels:
            vowel_count += 1

    return vowel_count

# Get a list of words from the user (comma-separated)
words = input("Enter a list of words (comma-separated): ").split(",")

# Iterate through the list of words and count vowels in each word
for word in words:
    word = word.strip()  # Remove leading/trailing spaces
    vowel_count = count_vowels(word)
    print(f"{word}: {vowel_count} vowels")

Enter a list of words (comma-separated): d,t,y
d: 0 vowels
t: 0 vowels
y: 0 vowels

In [2]:
import pandas as pd
car_selling_data = {'Brand': ['Maruti', 'Maruti', 'Maruti',
                              'Maruti', 'Hyundai', 'Hyundai',
                              'Toyota', 'Mahindra', 'Mahindra',
                              'Ford', 'Toyota', 'Ford'],
                    'Year':  [2010, 2011, 2009, 2013,
                              2010, 2011, 2011, 2010,
                              2013, 2010, 2010, 2011],
                    'Sold': [6, 7, 9, 8, 3, 5,
                             2, 8, 7, 2, 4, 2]}
 
# Creating Dataframe for Provided Data
df = pd.DataFrame(car_selling_data)
df

       Brand  Year  Sold
0     Maruti  2010     6
1     Maruti  2011     7
2     Maruti  2009     9
3     Maruti  2013     8
4    Hyundai  2010     3
5    Hyundai  2011     5
6     Toyota  2011     2
7   Mahindra  2010     8
8   Mahindra  2013     7
9       Ford  2010     2
10    Toyota  2010     4
11      Ford  2011     2

In [3]:
# Group the data when year = 2010
grouped = df.groupby('Year')
grouped

In [4]:
grouped.get_group(2010)

       Brand  Year  Sold
0     Maruti  2010     6
4    Hyundai  2010     3
7   Mahindra  2010     8
9       Ford  2010     2
10    Toyota  2010     4

In [ ]:
# change of code
import pandas as pd
car_selling_data = {'Brand': ['Maruti', 'Maruti', 'Maruti',
                              'Maruti', 'Hyundai', 'Hyundai',
                              'Toyota', 'Mahindra', 'Mahindra',
                              'Ford', 'Toyota', 'Ford'],
                    'Year':  [2010, 2011, 2009, 2013,
                              2010, 2011, 2011, 2010,
                              2013, 2010, 2010, 2011],
                    'Sold': [6, 7, 9, 8, 3, 5,
                             2, 8, 7, 2, 4, 2]}
 
# Creating Dataframe for Provided Data
df = pd.DataFrame(car_selling_data)
df

In [ ]:
# change of code
import pandas as pd
car_selling_data = {'Brand': ['Maruti', 'Maruti', 'Maruti',
                              'Maruti', 'Hyundai', 'Hyundai',
                              'Toyota', 'Mahindra', 'Mahindra',
                              'Ford', 'Toyota', 'Ford'],
                    'Year':  [2010, 2011, 2009, 2013,
                              2010, 2011, 2011, 2010,
                              2013, 2010, 2010, 2011],
                    'Sold': [6, 7, 9, 8, 3, 5,
                             2, 8, 7, 2, 4, 2]}
 
# Creating Dataframe for Provided Data
df = pd.DataFrame(car_selling_data)
df

# OOP (Object Oriented Program)

oop is the paradigm of arranging codes in classes and object for easy access and reused

In [ ]:
class FirstClass:
    pass  # a class without any attribute or method

In [6]:
class person:
    def __init__(self, name, age):
       self.name = name    
       self.age = age
        
    def greet(self):
        print(f" my name is {self.name} and i am {self.age} years old, i hearby welcome everyone!")
        
    def class_check(self):
        print("we are the of 2017")

In [7]:
# creating object from the class of person
p1 = person("olaitan", 12)

In [8]:
p1.greet()

 my name is olaitan and i am 12 years old, i hearby welcome everyone!

In [9]:
p1.class_check()

we are the of 2017

In [ ]:
# create class of car with attribute of make, model, and year
# and method start, accelerate, brake, accelerate_check.

In [34]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.speed = 0
        
    def start(self):
        if self.speed==0:
            print(f"{self.make} {self.model} {self.year} car has Started!!")
            self.speed=2
        else:
            print(f"{self.make} {self.model} {self.year} car has already Started!!")
            
    def accelerate(self, amount):
        self.speed+=amount 
        
    def brake(self, amount):
        self.speed-=amount
        
    def accelerate_check(self):
        if self.speed<=80:
            print(f"the current speed of {self.make} {self.model} {self.year} car is {self.speed} km/hr")
            
        else:
            print(f"the current speed of {self.make} {self.model} {self.year} car is {self.speed} km/hr you may need to slow down")

In [35]:
car1 = Car("Toyota", "camry", 2017)

In [36]:
car1.start()

Toyota camry 2017 car has Started!!

In [37]:
car1.start()

Toyota camry 2017 car has already Started!!

In [38]:
 car1.accelerate_check()

the current speed of Toyota camry 2017 car is 2 km/hr

In [39]:
car1.accelerate(25)

In [40]:
 car1.accelerate_check()

the current speed of Toyota camry 2017 car is 27 km/hr

In [41]:
car1.accelerate(125)

In [42]:
 car1.accelerate_check()

the current speed of Toyota camry 2017 car is 152 km/hr you may need to slow down

In [43]:
car1.brake(100)

In [44]:
 car1.accelerate_check()

the current speed of Toyota camry 2017 car is 52 km/hr