# Control Flow in Python
is the order at which python execute the statement or syntax

### 1. Conditional Statement
    a. if
    b. elif
    c. else
    
###  2. Loop Statement
     a. for
     b. while
     
     
 ### 3. Loop Control Statement
      a break
      b. continue
  
### 4. Error Handling Statement
     a. try
     b. except
     c. finally

In [3]:
# if 
a = 10
if a > 5:
    print("we are good to go!")

we are good to go!

In [4]:
# if 
a = 10
if a < 5:
    print("we are good to go!")

In [5]:
# if and else statement

b = 15

if b > 15:
    print("we may need to wait!")
else:
    print("we are good to go!")

we are good to go!

In [6]:
a = 10
b = 20

if (a>15) and (b==20):
    print("we need people to talk")
    
elif (a==10) and (b>15):
    print("Ade is a man")
    
elif (a>=10) and (b==20):
    print("we are the people")
else:
    print("non of the above condition is met!")

Ade is a man

# Nested if

In [14]:
age = int( input("please enter your age "))
if age>= 18:
    pvc = input("do you have a pvc ").lower()
    if pvc == "yes":
        lga= input("what is your polling units ").lower()
        if lga=="olowoira":
            print("vote for Mr A")
        else:
            print("you can vote for any person you wish")
    else:
        print("go the Mr James to collect your pvc, and come back to vote")
else:
    print("come back when you are 18")

please enter your age 77
do you have a pvc yes
what is your polling units OLoWoiRA
vote for Mr A

In [16]:
# for loop
ages = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,171,18,19,20] 

for age in ages:
    print(age)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
171
18
19
20

In [17]:
a = 5
for i in a:
    print(i)

TypeError: 'int' object is not iterable

range(index  :position:step)

In [22]:
for i in range(0, 22, 2): # iterable element
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [23]:
# seperate the odd ages and the even ages from the list of ages below
ages = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,171,18,19,20] 
odd_ages = []
even_ages = []
for age in ages:
    if age%2==0:
        even_ages.append(age)
    else:
        odd_ages.append(age)

In [25]:
print(odd_ages)

[1, 3, 5, 7, 9, 11, 13, 15, 171, 19]

In [26]:
print(even_ages)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
# while
a= 0
while a<=5:
    print("python is fun to learn {}".format(a))
    a+=1

python is fun to learn 0
python is fun to learn 1
python is fun to learn 2
python is fun to learn 3
python is fun to learn 4
python is fun to learn 5

In [39]:
# write a python programm to allow 11 people to vote for two candidates then count result of the vote
# and declear the winner

cast = 1
A = []
B = []
void = []
while cast<=11:
    vote = input("input A to vote for Mr A, or B to vote for Mr B ").upper()
    if vote== "A":
        A.append(vote)
    elif vote == "B":
        B.append(vote)
    else:
        void.append(vote)
    cast+=1
    
if len(A)> len(B):
    print("Mr A is the winner with {} total count of vote".format(len(A)))
elif len(B) > len(A):
    print("Mr B is the winner with {} total count of vote".format(len(B)))
else:
    print("we have vote again , because total count void is {} more count of Mr A and B".format(len(void)))

input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B x
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B x
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B c
input A to vote for Mr A, or B to vote for Mr B b
input A to vote for Mr A, or B to vote for Mr B b
input A to vote for Mr A, or B to vote for Mr B b
Mr A is the winner with 5 total count of vote

In [32]:
print(A)

['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A']

In [33]:
print(B)

[]

In [40]:
print(void)

['X', 'X', 'C']

In [42]:
# write a python programm to allow 11 people to vote for two candidates then count result of the vote
# and declear the winner

cast = 1
A = []
B = []
void = []
while cast<=11:
    vote = input("input A to vote for Mr A, or B to vote for Mr B ").upper()
    if vote== "A":
        A.append(vote)
    elif vote == "B":
        B.append(vote)
    else:
        void.append(vote)
    cast+=1
print("\n")    
print("Mr A has {} total vote".format(len(A)))
print("Mr B has {} total vote".format(len(B)))
print("The total void is {}".format(len(void)))

input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a
input A to vote for Mr A, or B to vote for Mr B a


Mr A has 11 total vote
Mr B has 0 total vote
The total void is 0

In [44]:
# while true
a=0
while True:
    print("python {}".format(a))
    if a==5:
        break
    a+=1

python 0
python 1
python 2
python 3
python 4
python 5

In [ ]:
class Car:
    def __init__(self):
        self.speed = 0  # Initialize the speed attribute to 0 km/hr

    def start(self):
        print("Car started")
        self.speed = 10  # You can set the initial speed to some value when the car starts

    def stop(self):
        print("Car stopped")
        self.speed = 0

    def check_speed(self):
        if self.speed <= 80:
            print(f"Current speed: {self.speed} km/hr (Safe)")
        else:
            print(f"Current speed: {self.speed} km/hr (Exceeding 80 km/hr - Please slow down)")

# Create an instance of the Car class
my_car = Car()

# Start the car
my_car.start()

# Check the speed
my_car.check_speed()

# Accelerate the car (for demonstration purposes)
my_car.speed = 90

# Check the speed again
my_car.check_speed()

# Stop the car
my_car.stop()

In [ ]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.speed = 0

    def start(self):
        print(f"{self.year} {self.make} {self.model} started")
        self.speed = 10

    def stop(self):
        print(f"{self.year} {self.make} {self.model} stopped")
        self.speed = 0

    def accelerate(self, amount):
        self.speed += amount

    def brake(self, amount):
        self.speed -= amount

    def check_speed(self):
        print(f"Current speed: {self.speed} km/hr")

class ElectricCar(Car):
    def __init__(self, make, model, year, battery_capacity):
        super().__init__(make, model, year)
        self.battery_capacity = battery_capacity
        self.charge_level = 100

    def charge(self, amount):
        self.charge_level += amount
        if self.charge_level > 100:
            self.charge_level = 100

    def discharge(self, amount):
        self.charge_level -= amount
        if self.charge_level < 0:
            self.charge_level = 0

    def check_charge(self):
        print(f"Battery charge level: {self.charge_level}%")

# Create an instance of the Car class
my_car = Car("Toyota", "Camry", 2023)

# Start the car
my_car.start()
my_car.accelerate(30)
my_car.check_speed()

# Create an instance of the ElectricCar class
my_electric_car = ElectricCar("Tesla", "Model S", 2023, battery_capacity=75)

# Start the electric car
my_electric_car.start()
my_electric_car.accelerate(40)
my_electric_car.check_speed()

# Charge the electric car
my_electric_car.charge(20)
my_electric_car.check_charge()

In [2]:
import pandas as pd
car_selling_data = {'Brand': ['Maruti', 'Maruti', 'Maruti',
                              'Maruti', 'Hyundai', 'Hyundai',
                              'Toyota', 'Mahindra', 'Mahindra',
                              'Ford', 'Toyota', 'Ford'],
                    'Year':  [2010, 2011, 2009, 2013,
                              2010, 2011, 2011, 2010,
                              2013, 2010, 2010, 2011],
                    'Sold': [6, 7, 9, 8, 3, 5,
                             2, 8, 7, 2, 4, 2]}
 
# Creating Dataframe for Provided Data
df = pd.DataFrame(car_selling_data)
df

       Brand  Year  Sold
0     Maruti  2010     6
1     Maruti  2011     7
2     Maruti  2009     9
3     Maruti  2013     8
4    Hyundai  2010     3
5    Hyundai  2011     5
6     Toyota  2011     2
7   Mahindra  2010     8
8   Mahindra  2013     7
9       Ford  2010     2
10    Toyota  2010     4
11      Ford  2011     2

In [3]:
# Group the data when year = 2010
grouped = df.groupby('Year')
grouped

In [4]:
grouped.get_group(2010)

       Brand  Year  Sold
0     Maruti  2010     6
4    Hyundai  2010     3
7   Mahindra  2010     8
9       Ford  2010     2
10    Toyota  2010     4

In [ ]:
# change of code
import pandas as pd
car_selling_data = {'Brand': ['Maruti', 'Maruti', 'Maruti',
                              'Maruti', 'Hyundai', 'Hyundai',
                              'Toyota', 'Mahindra', 'Mahindra',
                              'Ford', 'Toyota', 'Ford'],
                    'Year':  [2010, 2011, 2009, 2013,
                              2010, 2011, 2011, 2010,
                              2013, 2010, 2010, 2011],
                    'Sold': [6, 7, 9, 8, 3, 5,
                             2, 8, 7, 2, 4, 2]}
 
# Creating Dataframe for Provided Data
df = pd.DataFrame(car_selling_data)
df

In [ ]:
# change of code
import pandas as pd
car_selling_data = {'Brand': ['Maruti', 'Maruti', 'Maruti',
                              'Maruti', 'Hyundai', 'Hyundai',
                              'Toyota', 'Mahindra', 'Mahindra',
                              'Ford', 'Toyota', 'Ford'],
                    'Year':  [2010, 2011, 2009, 2013,
                              2010, 2011, 2011, 2010,
                              2013, 2010, 2010, 2011],
                    'Sold': [6, 7, 9, 8, 3, 5,
                             2, 8, 7, 2, 4, 2]}
 
# Creating Dataframe for Provided Data
df = pd.DataFrame(car_selling_data)
df